@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/variables';
@import '../node_modules/bootstrap/scss/mixins';
@import '../node_modules/bootstrap/scss/buttons';


$theme-colors: (
    "primary": #4cb2bd,
    "secondary": #dddddd,
    "success": #22bb33,
    "warning": #f0ad4e,
    "danger": #bb2124,
    "dark": #363a3f
);

.btn-primary {
    border-color: lighten(map-get($theme-colors, primary), 20%) !important;
}

.btn-secondary {
    border-color: lighten(map-get($theme-colors, secondary), 10%) !important;
}

.btn-success {
    border-color: lighten(map-get($theme-colors, success), 10%) !important;
}

.btn-warning {
    border-color: lighten(map-get($theme-colors, warning), 10%) !important;
}

.btn-danger {
    border-color: lighten(map-get($theme-colors, danger), 10%) !important;
}

.btn-dark {
    border-color: lighten(map-get($theme-colors, dark), 10%) !important;
}

.react-datepicker-wrapper {
    width: 100% !important;
}

.fs-7 {
    font-size: 0.8rem !important;
}

.text-max-15 {
    max-width: 25ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* Adicione este CSS para a animação de piscar */
.blink {
    animation: fade-animation 2s ease-in-out infinite;
}

@keyframes fade-animation {
    0%, 100% { opacity: 1; }
    50% { opacity: 0.2; }
}

@import "~bootstrap/scss/bootstrap";